<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MssqlConnectionString" connectionString=""/>
	</connectionStrings>
	<appSettings>
		<add key="Host" value=""/>
		<add key="UserName" value=""/>
		<add key="Password" value=""/>
		<add key="InitialDatabase" value=""/>
	</appSettings>
</configuration>