<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MssqlConnectionString" connectionString="Server={_Server};Database={_Database};User Id={_Uid};Password={_Password};"/>
		<add name="PgConnectionString" connectionString="Server={_Server};Port={_Port};Uid={_Uid};Pwd={_Password};"/>
		<add name="AccessConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data source= {pathToDb};"/>
	</connectionStrings>
	
	<appSettings>
		<add key="DeleteSourceFiles" value="True"/>
		
		<add key="TemplateXML" value=""/>
		<add key="PathRawFolder" value=""/>
		<add key="PathIntermidateFolder" value=""/>
		<add key="PathImplementFolder" value=""/>
		<add key="PathSignedFolder" value=""/>
	</appSettings>
</configuration>