<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PgConnectionString" connectionString=""/>
	</connectionStrings>
	<appSettings>
		<add key="Server" value=""/>
		<add key="Port" value=""/>
		<add key="Uid" value=""/>
		<add key="Password" value=""/>
		<add key="Database" value=""/>
	</appSettings>
</configuration>