<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="pgSqlConnStr" value="Server=192.168.0.142;Port=5438;Database=student;User ID=postgres;Password=passwd0105"/>
		<add key="msSqlConnStr" value="Server=192.168.0.142;Database=master;User Id=SA;Password=P&amp;sswd0105;"/>
	</appSettings>
</configuration>